<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main">
<div layout:fragment="mainFragment">
    <form th:action="@{/add-request}" method="post">
        <div class="row">
            <div class="col-6 mx-auto mb-1">
                <label th:text="'ФИО:'"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto mb-3">
                <input type="text" placeholder="ФИО:" class="form-control" th:name="a_username">
            </div>
        </div>

        <div class="row">
            <div class="col-6 mx-auto mb-1">
                <label th:text="'Курс:'"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto mb-3">
                <select class="form-select" th:name="a_course">
                    <option>Java Standard Edition</option>
                    <option>Web Technologies</option>
                    <option>Java Pro</option>
                    <option>UX/UI Design</option>
                    <option>Django Framework</option>
                    <option>Python Programming Language</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-6 mx-auto mb-1">
                <label th:text="'Телефон:'"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto mb-3">
                <input type="text" placeholder="+7(7__)_______" class="form-control" th:name="a_phone">
            </div>
        </div>

        <div class="row">
            <div class="col-6 mx-auto mb-1">
                <label th:text="'Комментарии:'"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto mb-3">
                <textarea class="form-control" th:rows="7" placeholder="Комментраии" th:name="a_comment"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-6 mx-auto mb-3">
                <button class="btn btn-success btn-sm">Добавить заявку</button>
            </div>
        </div>

    </form>
</div>
</html>